body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 50px;
  margin-bottom: 50px;
}

section {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
  margin-bottom: 20px;
  text-align: center;
}

.about-us h2,
.contact-us h2 {
  color: #333;
  margin-bottom: 10px;
}

.about-us p,
.contact-us p {
  color: #555;
  margin-bottom: 10px;
}

.contact-us .social-media {
  margin-top: 20px;
}

.social-icon {
  color: #333;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #007bff;
}
