body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 1rem 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.navbar-brand a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-links li {
    margin-left: 1rem;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.navbar-links a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.content {
    width: 90%;
    max-width: 800px;
    margin: auto;
}

.about-container, .contact-container {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.about-container p, .contact-info p {
    font-size: 1.1rem;
    margin: 10px 0;
}

.contact-info p strong {
    color: #555;
}

.social-media {
    margin-top: 20px;
}

.social-media h2 {
    margin-bottom: 10px;
    color: #333;
}

.social-media a {
    text-decoration: none;
    font-size: 2rem; /* Adjust font size for the icons */
    margin: 0 15px; /* Adjust margin for spacing */
    color: #333;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #007bff;
}
